<form method="POST" action="/">
    <input type="text" placeholder="Username" name="username">
    <br />
    <input type="password" placeholder="Password" name="password">
    <br />
    {{#if image}}
    <input type="text" placeholder="Code" name="code">
    <img src="{{imageLink}}">
    <br />
    {{/if}}
    <input type="submit" value="Login" />
</form>